--------------------
 {{Package_name}}
 --------------------
 Автор: {{author_name}}
 По вопросам и ошибкам обращаться: {{author_email}}
 --------------------

Компонент для MODX Revolution 3.

Для предложений, улучшений и сообщений об ошибках используйте репозиторий:
{{repository}}{{gitlogin}}/{{Package_name}}

Установка:
1. Установите пакет через менеджер пакетов MODX
2. Настройте компонент согласно документации

Требования:
- MODX Revolution 3.x
- PHP 8.1+
