<?php

namespace {{Package_name}};

use MODX\Revolution\modX;

class {{Package_name}}
{
    public $version = '1.0.0';

    /** @var modX $modx */
    public $modx;

    public function __construct(modX $modx)
    {
        $this->modx = $modx;
    }

    public function initialize(): void
    {
        // Initialize component logic here
    }
}
